body {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  text-align: center;
}

.todos {
  margin: auto;
  width: 700px;
}

.todo-header {
  /* display: flex; */
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.todo {
  padding: 10px;
  border: 4px solid gray;
  margin: 10px;
  color: black;
  border-radius: 15px;
  /* background-color: aqua; */
}

.todo-buttons {
  display: flex;
  justify-content: flex-end;
}

.todo-update {
  background-color: #0a6da8;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: medium;
  color: white;
  margin: 2px 5px;
  border-radius: 10px;
}

.todo-delete {
  background-color: #e79c41;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: medium;
  color: white;
  margin: 2px 5px;
  border-radius: 10px;
}